body{
    background-color: white;
    font-family: Arial,monospace;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
#console{
    color: #626262;
    background: #E3E5E6;
    overflow: hidden;
}
#console-tabs{
    overflow: hidden;
}
#console-tabs .messages-tab{
    cursor: pointer;
    text-align: center;
    float: left;
    padding: 10px 40px;
    text-decoration: none;
    color: #626262;
}
#console-tabs .messages-tab.active{
    background-color: white;
}
#console-body{
    background-color: white;
    font-family: 'Open Sans',monospace;
    font-size: 12px;
    line-height: 16px;
    padding: 15px 30px;
}
#console-body .messages-container{
    height: 100%;
    overflow: auto;
    background-color: white;
    display: none;
}
#console .messages-container .message .type,
#console .messages-container .message .category,
#console .messages-container .message .time{
    display: none;
}
#console #console-body-all .message .category{
    display: inline;
}
#console.debug .messages-container .message .type{
    display: inline;
}
#console.time .messages-container .message .time{
    display: inline;
}
.message{
    display: block;
    box-sizing: border-box;
}
span.time{
    display: none;
    color: #555F74;
    padding-right: 10px;
}
span.green{
    color: #A4B07A;
}
span.orange{
    color: #D0876C;
}
span.red{
    color: #C46065;
}
span.yellow{
    color: rgb(242, 209, 141);
}
span.error{
    font-weight: bold;
}
#options-trigger{
    display: block;
    float: left;
    background: #F9B42B;
    color: black;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    float: right;
    margin: 7px 10px;
}
#options{
    position: absolute;
    top: 34px;
    right: 0;
    text-align: right;
    background: #F9B42B;
}
#options a{
    display: block;
    text-decoration: none;
    overflow: hidden;
    color: black;
    padding: 5px 10px;
}
#options a > span{
    display: block;
    padding: 3px 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: 100%;
}
#options a.switch > span{
    float: left;
}
#options a.switch:after{
    content: "✖️";
    padding: 1px 0 2px 5px;
    display: block;
    float: right;
}
#options a.switch.active:after{
    content: "✔️";
}